version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: keep_it_text
    env_file:
      - .env
    ports:
      - "80:80"
    volumes:
      - .:/app
    restart: unless-stopped